html 
    head 
        title #{name}
    body
        h1 #{name}
        -var week = 1
        h3 Week: #{week}
        each g in games
            if (week != g.week)
                -week++
                h3 Week: #{g.week}
            if (g.away == null)
                label #{g.home} - bye 
                br   
            else
                if (g.homescore == null)
                    label #{g.home} - #{g.away} :  - 
                    br
                else
                    label #{g.home} - #{g.away} : #{g.homescore} - #{g.awayscore}
                    br
        h2 Table
        each t in teams
            label #{t.rank}. #{t.name} #{t.points}
            br

             